node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
google-services.json
scannitor-app-75b47f5569c6.json
skanr-service-account.json
google-services-1.json
GoogleService-Info-1.plist
GoogleService-Info.plist
visionAI.json
# macOS
.DS_Store
