<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>498207515476-535gi2up0moaubl8glf87pgbk270k7o4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.498207515476-535gi2up0moaubl8glf87pgbk270k7o4</string>
	<key>API_KEY</key>
	<string>AIzaSyAgbjN5-SXwRERkpeUqc0Vp8IzDw7soDds</string>
	<key>GCM_SENDER_ID</key>
	<string>498207515476</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>scannitor-app</string>
	<key>STORAGE_BUCKET</key>
	<string>scannitor-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:498207515476:ios:59af6e373150b1b2a29ec1</string>
</dict>
</plist>